# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

staticfiles
*.pyc
static/doc/resume.pdf
staticfiles/doc/resume.pdf
tmp
