{% extends "base.html" %}
{% load staticfiles %}

<!-- head -->
  {% block css %}
  {% endblock %}
<!-- head -->
<!-- body -->
  <!-- main-container -->
    <!-- nav -->
      <!-- container-fluid -->
        <!-- navbar -->
          <!-- navbar-right -->
            {% block navbar-right %}
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/project">Project</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/about">About</a></li>
            {% endblock %}

    {% block content %}
      <h1 class="alert alert-warning" role="alert">This page is in progress!</h1>
    {% endblock %}

  <!-- footer -->
  {% block footer %}
    <div class="container"><img id="footer-art" src="{% static 'img/default.png' %}" alt=""></div>
    <div id="footer-grass" class="col-md-12"></div>
    <div class="content">
      <div class="container">
          <div class="row">
            <div class="col-md-12">&copy; 2015 BEAR</div>
          </div>
      </div>
    </div>
  {% endblock %}

  {% block script %}
  {% endblock %}
<!-- body -->
